%blockquote
  - reply_to = MongoidForums::Post.find(post.reply_to_id)
  = reply_to.user.forum_display_name
  said
  = time_ago_in_words(reply_to.created_at)
  ago
  %br
  >
  - if !reply_to.deleted or can?(:show_deleted_post, reply_to.topic.forum)
    - if reply_to.deleted and can?(:show_deleted_post, reply_to.topic.forum)
      = "Deleted"
      %br
    = mongoid_forums_format(reply_to.text)
  - else
    = "Deleted"
